:root {
  --font-Noah: 'Noah', sans-serif;
  --font-Poppins: 'Poppins', sans-serif;
}

@import url('fonts.css');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noah Text', sans-serif;
  font-weight: 500;
}
a {
  color: #d2ae6d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: #272b3b;
}
p {
  color: #373435;
}

.real-menu .nav-item .nav-link {
  padding-left: 30px;
}

.carousel-control-next-icon {
  background-image: url(../img/Right.html\Arow.svg);
}

.carousel-control-prev-icon {
  background-image: url(../img/Left.html\Arow.svg);
}

.lightLogo {
  display: none;
}

.navbar-light .navbar-toggler {
  border-color: unset;
  border: unset;
}

.headerTop.HomeMenu.vjClass {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.headerTop.HomeMenu {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}
.headerTop.HomeMenu.inner-header.vjClass {
  position: fixed;
}
.vjClass .darkLogo {
  display: block;
}

.vjClass .lightLogo {
  display: none;
}

.vjClass .social-foot li a {
  color: #606062 !important;
}

.homeBanner {
  position: relative;
}

.navbar-light .navbar-nav .nav-link {
  color: #fefefe;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1;
  margin-bottom: 4px;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.current {
  color: #fefefe;
}
.headerTop.HomeMenu.inner-header .navbar-collapse {
  padding-top: 0px;
  padding-bottom: 0px;
}
.headerTop.HomeMenu.inner-header .navbar-brand {
  margin: 0;
  padding: 0;
}
.headerTop.HomeMenu.inner-header .navbar .container {
  align-items: normal;
  position: relative;
}
.headerTop.HomeMenu.inner-header .navbar {
  padding: 0;
  margin-top: 0px;
  position: relative;
}

.footer {
  padding: 50px 0;
  position: relative;
}

.homeBanner .carousel-control-prev {
  position: absolute;
  left: 60px;
  top: 50%;
  z-index: 1;
  transform: translateY(50%);
  width: 32px;
  height: 32px;
  opacity: 1;
}
.homeBanner .carousel-control-next {
  position: absolute;
  right: 64px;
  top: 50%;
  z-index: 1;
  transform: translateY(50%);
  width: 32px;
  height: 32px;
  opacity: 1;
}

.homeBanner .carousel-control-prev {
  margin-right: 60px;
}
.homeBanner .carousel-control-next img {
  transform: scaleX(-1);
}
.homeBanner .carousel-control-prev:hover,
.homeBanner .carousel-control-next:hover {
  background: transparent;
}
.headerTop.HomeMenu .navbar {
  padding-top: 35px;
  transition: all 1s ease-in-out;
  padding-bottom: 0px;
}
.home-logo-part {
  display: flex;
}
.logo-text.background--dark {
  color: #fff;
}
.logo-text.background--light,
.logo-text {
  color: #000;
}
.home-logo-part .logo-first .navbar-brand {
  margin-right: 0px;
}
.home-logo-part .logo-second ul {
  margin: 0;
  padding: 0;
  transition: all 2s ease;
}
.home-logo-part .logo-second ul.top-ul {
  opacity: 0;
  visibility: hidden;
}
.home-logo-part:hover ul.top-ul {
  opacity: 1;
  visibility: visible;
}

.home-logo-part:hover ul.bottom-ul {
  opacity: 0;
  visibility: hidden;
}
.home-logo-part .logo-second ul li {
  display: block;
  line-height: 1.1;
}
.home-logo-part .logo-second ul li a {
  color: #fefefe;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
}

.project-listing-area {
  padding: 40px 0;
}
.project-listing-area .container-fluid {
  padding: 0 40px;
}
.project-listing-area .project-item .project-img img {
  width: 100%;
  filter: grayscale(1);
  transition: all 1s;
  transform: scale(1);
}
.project-listing-area .project-item:hover .project-img img {
  filter: grayscale(0);
  transform: scale(1.05);
}
.project-listing-area .row {
  margin-right: -7px;
  margin-left: -7px;
}
.project-listing-area .project-item .project-img {
  overflow: hidden;
}
.project-listing-area .row .col {
  padding-right: 7px;
  padding-left: 7px;
  margin-bottom: 14px;
}
.project-listing-area .project-item {
  position: relative;
}
.project-listing-area .project-item .project-content {
  padding: 30px;
  background: #ffffffd1;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 1s;
  z-index: 9;
}
.project-listing-area .project-item:hover .project-content {
  opacity: 0;
}
.project-listing-area .project-item .project-content h3 {
  color: #504e4e;
  font-size: 15px;
  margin-bottom: 10px;
}
.project-listing-area .project-item .project-content p {
  color: #504e4e;
  font-size: 12px;
  line-height: 1.1;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 10px;
}
.project-listing-area .project-item .project-content span {
  color: #504e4e;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
}
.social-icon {
  padding: 0;
  margin: 0 0 15px 0;
  text-align: center;
}
.social-icon li {
  display: inline-block;
  margin: 0 5px;
}
.footer p {
  text-align: center;
  margin-bottom: 0;
  font-weight: 300;
}
.headerTop.HomeMenu.inner-header .navbar-brand img {
  width: 120px;
  margin-top: 0px;
}

.about-area p {
  margin-bottom: 25px;
}
.about-area p:last-child {
  margin-bottom: 0px;
}

/* .expertise-area .expertise-item h3 { */
/* margin: 10px 0; */
/* padding: 0 20px; */
/* } */

.expertise-area .expertise-item p {
  /* margin-bottom: 10px; */
  font-weight: 400;
}

.expertise-area .col {
  padding-right: 25px;
  padding-left: 25px;
}
.expertise-area .expertise-item {
  position: relative;
  height: 100%;
  padding-bottom: 55px;
}

.expertise-area .expertise-item .bottom-text img {
  width: 20px;
  margin-right: 5px;
  margin-top: 8px;
}
.expertise-area .expertise-item .bottom-text {
  color: #373435;
  text-decoration: none;
  font-weight: 400;
  display: block;
  position: absolute;
  bottom: -2px;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 10px;
}
.expertise-area .expertise-item .bottom-text span {
  display: inline-block;
  top: 5px;
  position: relative;
  line-height: 1;
}


.world-map .collaboration-box p,
.world-map .proj-box p {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.5;
}
.world-map .collaboration-box p:last-child,
.world-map .proj-box p:last-child {
  margin-bottom: 0px;
}


.founders-area .founder-detail {
  position: relative;
}

.founders-area .founder-detail .linkdin img {
  width: 22px;
}


.work-with-area .work-with-box.right .btm p {
  display: flex;
  margin-bottom: 20px;
  align-items: center;

}
.work-with-area .work-with-box.right .btm img {
  margin-right: 7px;
  margin-bottom: 0;
}
.work-with-area .work-with-box.right .btm a {
  text-decoration: none;
  color: #373435;
}
.work-with-area .work-with-box.right .btm span {
  position: relative;
  display: block;
}

.team-area p:last-child {
  margin-bottom: 0px;
}
.team-area ul {
  padding: 0;
  margin-bottom: 25px;
}

.team-area ul:last-child {
  margin-bottom: 0px;
}

.contact-page .contact-detail-box p:last-child {
  margin-bottom: 0px;
}

.contact-detail-box .section-title {
  color: #000;
  margin-bottom: 14px;
  text-transform: uppercase;
}
.contact-detail-box p {
  margin-bottom: 0px;
  color: #242424;
}
.contact-detail-grid a {
  font-size: 14px;
  text-decoration: none;
  font-family: 'Poppins';
  line-height: 1em;
  display: inline-block;
  color: #696969;
  transition: all 0.3s ease;
}
.contact-detail-grid a:hover {
  color: #000;
  text-decoration: underline;
}

.contact-page .map-box {
  position: relative;
}
.contact-page .map-box .img-icon-2 {
  position: absolute;
  width: 18px;
  bottom: 20%;
  left: 33%;
}
.contact-page .map-box .img-icon-1 {
  position: absolute;
  left: 26%;
  top: 35%;
  width: 18px;
}
.innerpage-banner {
  position: relative;
  text-decoration: none;
}

.project-list-page .tab-content .tabcontent {
  display: none;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}
.project-list-page .tab-content .tabcontent.active {
  display: block;
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.project-list-page .project-tab .accordion-item {
  border: none;
  box-shadow: none;
  padding: 0;
  margin-bottom: 20px;
}

.project-list-page .project-tab .accordion-item .accordion-button {
  color: #242424;
  font-weight: 500;
  padding: 0;
  font-size: 16px;
  padding-right: 0px;
  box-shadow: none;
  background: none;
  line-height: 1.55em;
  font-family: var(--font-Poppins);
}

.project-list-page .project-tab .accordion-item .accordion-button::after {
  background-size: 15px;
  width: 15px;
  height: 15px;
}
.project-list-page .project-tab .accordion-item .accordion-body {
  padding: 0;
}

.project-list-page .project-tab .accordion-item .tab .tablinks {
  background: none;
  border: none;
  color: #777777c9;
  font-size: 14px;
  text-decoration: none;
  margin-top: 2px;
  display: block;
  text-align: left;
  font-weight: 400;
  transition: all 0.3s ease;
}

.project-list-page .project-tab .accordion-item .tab .tablinks.active {
  font-weight: 800;
  font-size: 16px;
  display: inline-block;
  color: #232324;
  font-family: 'Noah';
}
.project-list-page .project-tab .accordion-item .tab .tablinks:hover {
  color: #000;
}

.project-listing-area .project-item a,
.project-list-page .project-item a {
  color: #fefefe;
  text-decoration: none;
  display: block;
}

.project-list-page .project-item {
  position: relative;
}
.project-list-page .project-item .project-content {
  padding: 20px 15px;
}

.project-list-page .project-item .project-img img {
  width: 100%;
  transition: 0.4s transform ease;
  transform: scale(1);
}

.project-list-page .project-item .project-img {
  overflow: hidden;
}
.project-list-page .tab-content .tabcontent .row {
  margin: 0 -6px;
}
.project-list-page .tab-content .tabcontent .row .col {
  padding: 0 6px;
  margin-bottom: 12px;
}
.project-list-page .project-item .project-content ul {
  margin: 0;
  padding: 0;
}

.project-list-page .project-item .project-content ul li:last-child {
  margin-bottom: 0px;
}
.project-list-page .project-item .project-content ul li span,
.project-list-page .project-item .project-content ul li strong {
  display: block;
}
.project-list-page .project-item .project-content ul li span {
  width: 44%;
  color: #fff;
}

.project-list-page .project-item .project-content ul li strong {
  font-weight: 400;
  text-transform: capitalize;
  color: #242424;
  font-size: 14px;
}

.project-detail-page p {
  font-weight: 400;
  margin-bottom: 0px;
  
}

.project-detail-page .project-summary p {
  margin-bottom: 0;
  font-weight: 600;
  color: #96989a;
  text-transform: uppercase;
}

.project-detail-page .project-summary ul li {
  display: flex;
  margin-bottom: 10px;

  color: #242424;
  font-weight: 400;
  flex-wrap: wrap;
  text-transform: uppercase;
}
.project-detail-page .project-summary ul li:last-child {
  margin-bottom: 0px;
}
.project-detail-page .project-summary ul li strong {
  display: block;
  font-weight: 400;
  color: #000;
  font-size: 14px;
  min-width: 100px;
  
}

.project-detail-page .project-summary ul li span {
  margin-left: 6.5px;
  font-weight: 300;
  color: #242424;
  font-size: 14px;
  
}

.innerpage-banner.detail-banner .row-image {
  display: flex;
  flex-wrap: wrap;
  
  position: relative;
}
.innerpage-banner.detail-banner .row-image .right-full-image {
  width: 90%;
  position: relative;
  z-index: 1;
}

.innerpage-banner.detail-banner
  .row-image
  .left-thumb-image
  .project-slider
  .slide {
  margin: 5px 0;
}

.innerpage-banner.detail-banner .row-image .right-full-image .tabcontent {
  display: none;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}
.innerpage-banner.detail-banner
  .row-image
  .right-full-image
  .tabcontent.active {
  display: block;
}
.innerpage-banner.detail-banner .row-image .left-thumb-image .tablinks {
  cursor: pointer;
  width: 100%;
}

.project-detail-page .project-back-link {
  color: #272b3b;
  text-decoration: none;
  font-weight: 500;
  font-size: 10px;
  font-family: 'Noah';
  line-height: 1.56em;
}

.project-detail-page .top-location p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
}

.project-detail-page .project-back-link span {
  display: inline-block;

  position: relative;
  line-height: 1;
}
.project-detail-page .project-back-link img {
  width: 20px;
  margin-right: 5px;
}
.homeBanner.home-page::before {
  content: '';
  position: absolute;
  display: block;
  background: linear-gradient(#000 0%, #0000 50%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  z-index: 9;
}

.contact-detail-box {
  width: 100%;
}
.project-item.news-box .project-content span {
  color: #96989a;
  display: block;
  font-size: 13px;
  font-weight: 400;
  margin-top: 10px;
  line-height: 1.1;
}
.navbar-nav.real-menu {
  display: block;
}
.logo-second .vijayMenu {
  background: url(../images/menu-bg.svg);
  padding: 5px;
  height: 100%;
  align-items: start;
  opacity: 0;
  visibility: hidden;
  transition: all 2s ease;
}
.home-logo-part:hover .vijayMenu {
  opacity: 1;
  visibility: visible;
}
.home-logo-part .logo-second .bottom-ul {
  position: absolute;
  bottom: -3px;
  margin-left: 5px;
}
.logo-second {
  position: relative;
  width: 82px;
}
.home-logo-part .logo-second ul.color-change li a {
  color: #504e4e;
}
.headerTop.HomeMenu.white-bg .navbar {
  background: #fefefe;
  padding-bottom: 35px;
  margin-top: 0px;
  padding-top: 35px;
}

@media (min-width: 1200px) and (max-width: 1299.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .project-listing-area .row .col {
    width: 25%;
  }
  .project-listing-area .project-item .project-content {
    padding: 25px;
  }
  .headerTop.HomeMenu.white-bg .navbar,
  .headerTop.HomeMenu.vjClass .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    background: #fefefe;
  }
  .vjClass .home-logo-part .logo-second ul li a {
    color: #504e4e;
  }
  .HomeMenu .navbar-light .navbar-nav .nav-link {
    color: #fefefe !important;
  }
  .headerTop.HomeMenu .navbar {
    padding-top: 15px;
  }
  
  .expertise-area .col {
    padding-right: 15px;

    padding-left: 15px;
  }

  .expertise-area .expertise-item .bottom-text img {
    width: 16px;
    margin-right: 2px;
  }
  .expertise-area .expertise-item .bottom-text span {
    font-size: 13px;
  }
  
  
  .founders-area .founder-detail h4 {
    font-size: 17px;
    margin: 9px 0 1px;
  }
  .founders-area .founder-detail .linkdin img {
    width: 16px;
  }
  .founders-area .founder-detail .linkdin {
    top: -2px;
  }
  .founders-area .row.row2 .row {
    margin: 0 -7px;
  }
  .founders-area .row.row2 .row .col-lg-5,
  .founders-area .row.row2 .row .col-lg-7 {
    padding: 0 7px;
  }
  .project-list-page .tab-content .tabcontent .row .col {
    width: 33.33%;
  }

  .contact-page .col-md-5 {
    width: 66.66%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .home-logo-part .logo-second ul li {
    line-height: 1;
  }
  .headerTop.HomeMenu.white-bg .navbar,
  .headerTop.HomeMenu.vjClass .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    background: #fefefe;
  }
  .vjClass .home-logo-part .logo-second ul li a {
    color: #504e4e;
  }
  .HomeMenu .navbar-light .navbar-nav .nav-link {
    color: #fefefe !important;
  }
  .project-listing-area .row .col {
    width: 33.33%;
  }
  .project-listing-area .project-item .project-content {
    padding: 25px;
  }
  .footer {
    padding: 100px 0 40px;
  }
  .about-area {
    padding: 50px 0;
  }
  .expertise-area {
    padding: 70px 0;
  }

  .expertise-area .col {
    padding-right: 10px;
    padding-left: 10px;
  }
  .expertise-area .expertise-item h3 {
    font-size: 20px;
    margin: 15px 0;
  }
  .world-map {
    padding: 50px 0;
  }
  .world-map .collaboration-box p,
  .world-map .proj-box p {
    font-size: 12px;
    line-height: 1.3;
  }
  .founders-area {
    padding-top: 70px;
    padding-bottom: 20px;
  }
  .project-list-page .col-20 {
    width: 25%;
  }
  .project-list-page .col-80 {
    width: 75%;
  }
  .project-list-page .tab-content .tabcontent .row .col {
    width: 33.33%;
    flex: 0 0 33.33%;
  }
  .project-list-page .project-item .project-content {
    padding: 20px 0px 20px 7px;
  }
  .project-list-page .project-item .project-content h3 {
    font-size: 15px;
  }
  .project-list-page .project-item .project-content p {
    font-size: 12px;
    line-height: 1.1;

    margin-bottom: 10px;
    padding-bottom: 7px;
  }

  /* .project-tab.fixed-tab {
    top: 150px;
    width: 20%;
} */
  .project-list-page.top-space {
    padding-top: 150px;
  }

  .innerpage-banner.detail-banner .row-image .left-thumb-image {
    width: 100%;
    padding: 10px 20px 10px;
  }
  .innerpage-banner.detail-banner .row-image .right-full-image {
    width: 100%;
  }
  .innerpage-banner.detail-banner
    .row-image
    .left-thumb-image
    .project-slider
    .slide {
    margin: 0px 5px;
  }

  .contact-page .col-md-5 {
    width: 66.66%;
  }
  
}

@media (max-width: 767px) {
  .navbar .navbar-brand {
    margin-right: 0;
  }
  .HomeMenu .navbar-light .navbar-nav .nav-link {
    color: #fefefe !important;
  }
  .project-listing-area .row .col {
    flex: 0 0 100%;
  }
  .footer {
    padding: 30px 0 30px;
  }

  .home-logo-part .logo-second ul li a {
    font-size: 12px;
  }
  .home-logo-part .logo-second ul li {
    line-height: 12px;
  }
  .headerTop.HomeMenu .navbar {
    padding-top: 15px;
  }
  .headerTop.HomeMenu.white-bg .navbar,
  .headerTop.HomeMenu.vjClass .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    background: #fefefe;
  }
  .vjClass .home-logo-part .logo-second ul li a {
    color: #504e4e;
  }
  .homeBanner .carousel-control-prev,
  .homeBanner .carousel-control-next {
    width: 25px;
    height: 25px;
    bottom: 10px;
    right: 20px;
  }
  .homeBanner .carousel-control-prev {
    margin-right: 40px;
  }
  .homeBanner .carousel-control-prev img,
  .homeBanner .carousel-control-next img {
    width: 12px;
  }
  .about-area {
    padding: 40px 0;
  }
  .expertise-area {
    padding: 40px 0;
  }
  .expertise-area .col {
    flex: 0 0 100%;
    margin-bottom: 40px;
  }
  .expertise-area .expertise-item {
    padding-bottom: 20px;
  }
  .expertise-area .expertise-item h3 {
    margin: 15px 0;
  }
  
  .founders-area .col {
    flex: 0 0 100%;
  
  }

  .work-with-area .col,
  .team-area .col {
    flex: 0 0 100%;
  }
  .work-with-area .work-with-box.right .btm {
    position: relative;
  }
  .work-with-area .row,
  .team-area .row {
    gap: 22px;
  }
  .contact-page {
    padding: 150px 0 10px;
  }
  
  .contact-page .map-box {
    margin-top: 30px;
  }
  .project-list-page {
    padding: 40px 0;
  }
  .project-list-page .tab-content .tabcontent .row .col {
    flex: 0 0 100%;
  }
  .project-list-page .col-80 {
    width: 100%;
  }
  .project-list-page .col-20 {
    width: 100%;
  }
  /* .project-tab.fixed-tab {
    position: fixed;
    top: 100px;
    width: 100%;
    left: 0;
    padding: 15px 15px;
    background: #fefefe;
    z-index: 9; */
}
.project-list-page .project-tab .accordion-item {
  margin-bottom: 15px;
}

.innerpage-banner.detail-banner .row-image .left-thumb-image {
  width: 100%;
  padding: 10px 20px 10px;
}
.innerpage-banner.detail-banner .row-image .right-full-image {
  width: 100%;
}
.innerpage-banner.detail-banner
  .row-image
  .left-thumb-image
  .project-slider
  .slide {
  margin: 0px 5px;
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}
@media (min-width: 992px) {
  .nav-item .nav-link span {
    display: inline-block;
  }
  .nav-item .nav-link span::after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 0;
    height: 2px;
    background-color: #d2ae6d;
    -webkit-transition: opacity 0.3s ease, width 0.3s ease;
    -moz-transition: opacity 0.3s ease, width 0.3s ease;
    -o-transition: opacity 0.3s ease, width 0.3s ease;
    transition: opacity 0.3s ease, width 0.3s ease;
    -ms-transition: opacity 0.3s ease, width 0.3s ease;
  }
  .nav-item:hover .nav-link span::after,
  .nav-item .nav-link.current span::after {
    width: 100%;
  }
}
@media (min-width: 1200px) {
}

@media (max-width: 991.98px) {
  #navbarNav.collapse:not(.show) {
    transform: translate(-100%);
  }

  #navbarNav.collapse.show {
    transform: translate(0);
  }

  .navbar-toggler:focus {
    box-shadow: unset;
  }

  .navbar-light .navbar-toggler-icon {
    background: unset;
  }

  .navbar-light .navbar-toggler-icon {
    height: 3px;
    width: 25px;

    border-radius: 2px;
    background: #fff;
    position: relative;
  }

  .navbar-light .navbar-toggler-icon::after {
    content: '';
    height: 3px;
    width: 30px;
    position: absolute;
    right: 0;
    bottom: -8px;
    border-radius: 2px;
    background: #fff;
  }

  .navbar-light .navbar-toggler-icon::before {
    content: '';
    height: 3px;
    width: 30px;
    position: absolute;
    right: 0;
    top: -8px;
    border-radius: 2px;
    background: #fff;
  }
  .headerTop.HomeMenu.white-bg .navbar .navbar-toggler-icon::before,
  .headerTop.HomeMenu.white-bg .navbar .navbar-toggler-icon::after,
  .headerTop.HomeMenu.white-bg .navbar .navbar-toggler-icon {
    background: #504e4e;
  }
  .vijayMenu {
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    height: 100%;
    overflow-y: scroll;
    width: 250px;
    transition: all 0.5s ease;
    padding: 60px;
    z-index: 9;
  }
  .logo-second .vijayMenu {
    padding: 40px;
    opacity: 1;
    visibility: visible;
  }
  .home-logo-part:hover ul.bottom-ul {
    opacity: 1;
    visibility: visible;
  }
  .navbar-light .navbar-nav .nav-link {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .navbar-light .navbar-toggler.mitem {
    color: rgb(255 255 255);
    font-size: 30px;
    position: absolute;
    right: 0;
    top: 0;
  }

  #navbarNav.collapse:not(.show) {
    display: block !important;
  }
  .vjClass .navbar-light .navbar-toggler-icon {
    background-color: #504e4e;
  }
  .vjClass .navbar-light .navbar-toggler-icon::after {
    background-color: #504e4e;
  }
  .vjClass .navbar-light .navbar-toggler-icon::before {
    background-color: #504e4e;
  }
}
@media (min-width: 1400px) {
  /* .project-tab.fixed-tab {
   width: 200px;
}     */
}
@media (min-width: 1300px) and (max-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1270px;
  }
}
@media (min-width: 1601px) and (max-width: 1700px) {
  .headerTop.HomeMenu.inner-header .navbar::before {
    width: 15%;
  }
}
@media (min-width: 1701px) and (max-width: 1960px) {
  .headerTop.HomeMenu.inner-header .navbar::before {
    width: 17%;
  }
}


.map-grid-box {

  display: flex;
  flex-direction: column;
  
}